/* 
  This is the main CSS file for ops-dude.com
*/
body {margin: 0;}

.posttext {
  margin: 30; 
  padding: 12px 56px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #707070;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
}

ul.midnav {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #c7c7c7;
  margin: 0;
  padding: 0;
  padding: -1px 1px;
  color: #d6d6d6;
}

ul.a {
  list-style-type: square;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #707070;
  padding: 2px 76px;
}

a {
  padding: 10px 10px;
  color: #707070;
}
li.a { padding: 6px 10px; }

.p1 {
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 12px 56px;
  margin: 5;
}


img {
  display: block;
  filter: grayscale(100%);
  float: right;
  padding: 0px 40px;
  margin: -30px;

}

/*ul.topnav li a:hover:not(.active) {background-color: #436147;}*/
ul.topnav li a:hover:not(.active) {background-color:  #566573;}

ul.topnav li a.active {background-color: #7c7c7c;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* */
